body {
  font-family: 'Roboto', sans-serif;
}

$failureColor: #E57373;
$successColor: #66BB6A;

.expired span:last-child {
  color: $failureColor !important;
}

.valid span:last-child {
  color: $successColor !important;
}

div.itemCard {
  transition: background-color 600ms !important;
}

div.itemCard.expanded {
  background-color: lightgrey !important;
}

.appBar {
  background-color: darkslateblue !important;
}

.appBar > button:first-child {
  width: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
  opacity: 0.01;
  cursor: default !important;
}
